[core]
    editor = vim
    abbrev = 7
[user]
	email = sh7916@gmail.com
	name = Shuhei
[merge]
	ff = false
	conflictStyle = diff3
[pull]
	ff = only
[pager]
	branch = false
[init]
	defaultBranch = main
